.tabs-bar {
  display: flex;
  justify-content: space-around;
  background: #fdfbe4 !important;
  border: 0px;
}
.tab_btns {
  background: none;
}
.footericons {
    color: #f1c27d;
    font-size: 20px;
}
