<ion-header [translucent]="true">
  <ion-toolbar class="headertoolbar">
    <div class="header">
      <i class="fa-solid fa-angle-left"></i>
      <img
        class="icons-image"
        src="../assets/mainimages/Tiara_black_logo.svg"
        alt="Pending"
      />
      <p>Cancel</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="main_content">
  <section class="profile_screen">
    <div class="profile-area">
      <img
        class="icons-image"
        src="../../assets/mainimages/profile.png"
        alt="Profile"
      />
      <img
        class="camera-img"
        src="../../assets/mainimages/camera.svg"
        alt="Camera"
      />
    </div>
  </section>
  <section class="inputs">
    <div class="first">
      <p class="name">First Name</p>
      <input type="" class="first-name" placeholder="Enter first name" />
    </div>
    <div class="second">
      <p class="name">Last Name</p>
      <input type="" class="first-name" placeholder="Enter last name" />
    </div>
    <div class="third">
      <p class="name">Phone No.</p>
      <input type="number" class="first-name" placeholder="Enter phone no." />
    </div>
    <div class="fourth">
      <p class="name">Email ID</p>
      <input type="" class="first-name" placeholder="Enter email address" />
    </div>
    <div class="button-save">
      <button class="save">Save</button>
    </div>
  </section>
</ion-content>
