
<ion-header [translucent]="true">
  <ion-toolbar class="headertoolbar">
    <div class="header">
      <i class="fa-solid fa-angle-left back" (click)="onprofile()"></i>
      <img class="icons-image-head" src="../../assets/mainimages/Tiara_logo.png" />
      <p></p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="main_content">
  <section class="profile_screen">
    <div class="profile-area">
      <img
        class="icons-image"
        src="../../assets/mainimages/profile.png"
        alt="Profile"
      />
      <img
        class="camera-img"
        src="../../assets/mainimages/camera.svg"
        alt="Camera"
      />
    </div>
  </section>
<!-- In edit-profile.html -->
<section class="inputs">
  <div class="first">
    <p class="name">First Name</p>
    <input type="text" class="first-name" [(ngModel)]="first_name" placeholder="Enter first name" />
  </div>
  <div class="second">
    <p class="name">Last Name</p>
    <input type="text" class="first-name" [(ngModel)]="last_name" placeholder="Enter last name" />
  </div>
  <div class="third">
    <p class="name">Phone No.</p>
    <input type="number" class="first-name" [(ngModel)]="phone" placeholder="Enter phone no." />
  </div>
  <div class="fourth">
    <p class="name">Email ID</p>
    <input type="email" class="first-name" [(ngModel)]="email" placeholder="Enter email address" />
  </div>
  <div class="button-save">
    <button class="save" (click)="saveUserDetails()">Save</button>
  </div>
</section>

</ion-content>
