//header
ion-header.md.header-md.header-translucent.header-collapse-none.header-translucent-md.hydrated {
  box-shadow: 0px 0px 0px 0px !important;
}
ion-content.main_content.md.content-ltr.hydrated {
    --background: #fdfbe4;
}

.headertoolbar {
  --background: #fdfbe4;
}
.header p {
  margin-bottom: 0px;
  position: absolute;
  right: 10px;
  top: 6px;
  color: black;
}

.header {
  margin: 0px 20px 0px 20px;
  position: relative;
  text-align: center;
}

.main_content {
  --background: #fdfbe4;
}


.profile_screen {
  padding: 14px;
}

.profileion {
  --background: black;
}
.profile-area {
  text-align: center;
  padding-top: 10px;
  width: fit-content;
  margin: auto;
  position: relative;
}
.camera-img {
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  right: 0;
  bottom: 0;
}
.first-name {
background: none;
    border: 2px solid black;
    color: #000000;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-family: "railway";
    font-size: 15px;
    font-weight: 500;
}
.inputs {
  padding: 0px 14px 0px 14px;
}
.name {
  color: black;
  font-family: railway;
  font-size: 15px;
  margin: 0px 0px 8px 12px;
  font-weight: 600;
}
.second {
  margin-top: 14px;
}
.third {
  margin-top: 14px;
}
.fourth {
  margin-top: 14px;
}
.button-save {
  background: #F1C27D;
  text-align: center;
  font-size: 20px;
  border-radius: 4px;
  margin-top: 36px;
  padding: 10px;
}
.save {
  color: black;
  background: none;
  font-weight: 600;
}
//header
ion-header.md.header-md.header-translucent.header-collapse-none.header-translucent-md.hydrated {
  box-shadow: 0px 0px 0px 0px !important;
}

.headertoolbar {
  --background: #fdfbe4;
  padding-top: 34px;
}
.header p {
  margin-bottom: 0px;
  position: absolute;
  right: 10px;
  top: 6px;
}

.header {
  margin: 0px 20px 0px 20px;
  position: relative;
  text-align: center;
}
.back{
    color: #000000;
    background: #F1C27D;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: absolute;
    top: 4px;
}
ion-content.md.content-ltr.hydrated {
  --background: black;
}
.icons-image-head {
    width: 32%;
}
//header