<!-- 
<ion-header [translucent]="true">
  <ion-toolbar class="headertoolbar">
    <div class="header">
      <i class="fa-solid fa-angle-left"></i>
    </div>
  </ion-toolbar>
</ion-header> -->
<ion-header [translucent]="true">
  <ion-toolbar class="headertoolbar">
    <div class="header">
      <div class="crossdiv" (click)="onloginoption()">
        <i class="fa-solid fa-xmark cross"></i>
      </div>
      <div class="addtext">
        <!-- <p>Add a Diffuser</p> -->
      </div>
      <div class="blank">
        <p></p>
      </div>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ioncontentlogin">
  <section class="loginscreen">
    <div class="logodivimage">
      <img
        class="icons-image"
        src="../../assets/mainimages/Tiara_logo.png"
        alt="Logo"
      />
    </div>

    <div class="welcometext">
      <p class="pone">Welcome to Tiara</p>
      <p class="ptwo">Login to your account</p>
    </div>

    <div class="inputfields">
      <!-- Email Field -->
      <div class="input-group">
        <i class="fas fa-envelope icon"></i>
        <input type="email" placeholder="Email" [(ngModel)]="email" />
      </div>

      <!-- Password Field -->
      <div class="input-group">
        <i class="fas fa-lock icon"></i>
        <input
          [type]="passwordVisible ? 'text' : 'password'"
          placeholder="Password"
          [(ngModel)]="password"
        />
        <i
          class="fas toggle-eye"
          [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'"
          (click)="togglePasswordVisibility()"
        ></i>
      </div>
              <p *ngIf="errorMessage" class="error-text">{{ errorMessage }}</p>

    </div>

    <div class="forbtn">
      <div class="loginbtn">
        <ion-button expand="block" (click)="onLoginClick()">Login</ion-button>
        <p  (click)="onregister()">Don't have an account yet? Registration</p>
      </div>
    </div>
  </section>
</ion-content>
