//header
ion-header.md.header-md.header-translucent.header-collapse-none.header-translucent-md.hydrated {
  box-shadow: 0px 0px 0px 0px !important;
}
ion-content.md.content-ltr.hydrated {
    --background: #fdfbe4;
}

.headertoolbar {
  --background: #fdfbe4;
}
.header p {
  margin-bottom: 0px;
  position: absolute;
  right: 10px;
  top: 6px;
  color: black;
}

.header {
  margin: 0px 20px 0px 20px;
  position: relative;
  text-align: center;
}
i.fa-solid.fa-angle-left {
  color: #ffffff;
  background: black;
  width: 24px;
  height: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  position: absolute;
  top: 5px;
}
.pswd {
  padding: 20px;
}
.first-name {
  background: none;
  border: 2px solid black;
  color: #ffffff;
  padding: 9px;
  width: 100%;
  border-radius: 4px;
}
.name {
    margin: 0;
    font-family: railway;
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin-bottom: 4px;

}
.second {
  margin-top: 14px;
}
.name1 {
text-align: center;
    font-size: 20px;
    font-family: railway;
    font-weight: bold;
    color: black;
}
.button-save {
  background: #F1C27D;
  text-align: center;
  font-size: 20px;
  border-radius: 4px;
  margin-top: 36px;
  padding: 10px;
}
.save {
  color: black;
  background: none;
}
