<ion-header [translucent]="true">
  <ion-toolbar class="headertoolbar">
    <div class="header">
      <i class="fa-solid fa-angle-left"></i>
      <img
        class="icons-image"
        src="../assets/mainimages/Tiara_black_logo.svg"
        alt="Pending"
      />
      <p>Cancel</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="pswd">
    <p class="name1">Change Password</p>
    <div class="first">
      <p class="name">New Password</p>
      <input type="" class="first-name" placeholder="Enter new password" />
    </div>
    <div class="second">
      <p class="name">Change Password</p>
      <input type="" class="first-name" placeholder="Enter change password" />
    </div>
    <div class="button-save">
      <button class="save">Save</button>
    </div>
  </section>
</ion-content>
