ion-content {
  --background: #fdfbe4;
}

.tiara {
  // height: 100vh;
  display: flex;
  justify-content: center;
}

// .tiara img{
//   width: 65%;
// }

.zoom-in {
  animation: zoomIn 1.5s ease-out forwards;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


.tiara.zoom-in {
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 40px;
}