<ion-header [translucent]="true">
  <ion-toolbar class="headertoolbar">
    <div class="header">
      <i class="fa-solid fa-angle-left"></i>
      <img
        class="icons-image"
        src="../../assets/mainimages/Tiara_black_logo.svg"
        alt="Pending"
      />
      <p>Cancel</p>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="profileion">
  <div class="inner-mode">
    <div class="time">
      <p>10min</p>
    </div>
    <div class="days_toggle">
      <div class="days">
      <p>S</p>
      <p>M</p>
      <p>T</p>
      <p>W</p>
      <p>T</p>
      <p>F</p>
      <p>S</p>
      </div>
      <div class="toggle">
        <div
          class="toggle-switch"
        
        >
          <div class="switch-handle"></div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
