//header
ion-header.md.header-md.header-translucent.header-collapse-none.header-translucent-md.hydrated {
  box-shadow: 0px 0px 0px 0px !important;
}

.headertoolbar {
  --background: #fdfbe4;
  padding-top: 34px;
}
.header p {
  margin-bottom: 0px;
  position: absolute;
  right: 10px;
  top: 6px;
}

.header {
  margin: 0px 20px 0px 20px;
  position: relative;
  text-align: center;
}
i.fa-solid.fa-angle-left {
  color: #ffffff;
  background: black;
  width: 24px;
  height: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  position: absolute;
  top: 5px;
}
ion-content.md.content-ltr.hydrated {
  --background: black;
}
//header
.profileion {
  --background: #fdfbe4 !important;
}