//header
ion-header.md.header-md.header-translucent.header-collapse-none.header-translucent-md.hydrated {
    box-shadow: 0px 0px 0px 0px !important;
}

.headertoolbar{
--background: #ffffff;
}
.header p {
    margin-bottom: 0px;
        position: absolute;
    right: 10px;
    top: 6px;

}

.header{
    margin: 0px 20px 0px 20px;
    position: relative;
    text-align: center;
}
i.fa-solid.fa-angle-left {
color: #ffffff;
    background: black;
    width: 24px;
    height: 24px;
    text-align: center;
    display: flex
;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
        position: absolute;
    top: 5px;

}
//header


ion-content.md.content-ltr.hydrated {
    --background: black;
}
section.device {
    padding: 30px 20px 0px 20px;
}
.currenttymdiv {

    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 14px;
    position: relative;
    text-align: center;
    border-radius: 10px;
}
.currenttymdiv p {
    margin-bottom: 0px;
    color: #000000;
}
p.currenttymdivpone {
    position: absolute;
}
.rightarrow {
    position: absolute;
    right: 16px;
    top: 18px;
}
p.cmdmode {
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    font-family: railway;
    top: 10px;
}
p.cmdhour {
position: absolute;
    right: 10px;
    top: 10px;
    font-size: 12px;
    font-weight: 300;
    font-family: railway;
}
.currenttmodetym {

    justify-content: space-between;
    position: relative;
    align-items: center;
    align-content: center;
    align-items: center;
    padding: 12px 8px 12px 8px;
    position: relative;
    border-radius: 10px;
    text-align: center;
}
.maingrey {
    background: #FAFAFA;
    border-radius: 10px;
}
.currenttmodetym p {
    margin-bottom: 0px;
}

p.cmdtym {
    font-size: 12px;
    font-weight: 300;
    width: 250px;
    text-align: center;
    font-family: 'railway';
}



// 
.btn_cmn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 14px 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  font-family: railway;
  margin-top: 20px;
}

.status {
  display: flex;
  align-items: center;
  gap: 10px;
}

.onoff {
  display: flex;
  align-items: center;
  gap: 10px;
}
.onoff p {
    margin-bottom: 0px;
    font-size: 17px;
    font-weight: 400;
    color: black;
    font-family: 'railway';
    text-decoration: none !important;
}

.toggle-switch {
  width: 40px;
  height: 22px;
  background: #ccc;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s ease;
}

.toggle-switch .switch-handle {
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.3s ease;
}


.toggle-switch.active {
  background: #df7e00;
}

.toggle-switch.active .switch-handle {
  left: 20px;
}

.status p {
    margin-bottom: 0px;
    font-size: 17px;
    font-family: 'railway';
    font-weight: 600;
}



.loginbtn ion-button{
    --background: #ffffff;
    font-family: "railway";
    color: black;
    font-size: 17px;
    font-weight: bold;
}
.loginbtn {
    margin-top: 24px;
    display: flex;
    justify-content: center;
}
.modehours {
    font-size: 15px;
}


.run {
    margin-bottom: 0px;
    font-size: 13px;
    font-family: 'railway';
    font-weight: 500;
}

.runsec {
    margin-bottom: 0px;
    border: 1px solid;
    /* width: 104%; */
    font-size: 16px;
    font-family: railwayy;
    font-weight: 600;
    padding: 0px 16px 0px 16px;
}

.stop {
   margin-bottom: 0px;
    font-size: 13px;
    font-family: 'railway';
    font-weight: 500;
}

.stopsec {
      margin-bottom: 0px;
    border: 1px solid;
    /* width: 104%; */
    font-size: 16px;
    font-family: railwayy;
    font-weight: 600;
    padding: 0px 16px 0px 16px;
}




// 
.onoff input[type="radio"] {
  accent-color: #df7e00;       /* Fill color when selected */
  border: 2px solid black;     /* Only works in Firefox */
}


.onoff input[type="radio"] {
appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    position: relative;
}

.onoff input[type="radio"]:checked::before {
  content: '';
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background-color: #df7e00;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
}

.labelsradio {
    display: flex
;
    justify-content: center;
    gap: 6px;
    align-items: center;
}

// 
