//header
ion-header {
  box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0),
    0 0px 0px 0 rgba(0, 0, 0, 0) !important;
}
.headertoolbar {
  --background: #fdfbe4;
}
.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  margin: 40px 18px 10px 18px;
}
.crossdiv {
  position: absolute;
  z-index: 9;
}
.cross {
  font-size: 18px;
  color: black;
  border: 1px solid black;
  border-radius: 50px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}
.addtext {
  width: 100%;
  text-align: center;
}
.addtext p {
  font-size: 22px;
  color: #000000;
  font-family: railway !important;
  margin: 0px;
  font-weight: 600;
}
// /header

.addfuser {
  --background: #fdfbe4;
}
.addfuser_section {
  padding: 0px 34px 0px 34px;
  margin-top: 16px;
}
.line {
  /* border: 1px solid rgba(128, 128, 128, 0.231372549); */
  position: relative;
  /* display: block; */
  width: 100%;
  height: 1px;
  background: #8d8d8d;

  border-radius: 50px;
}
.line::after {
  content: "";
  content: "";
  /* display: block; */
  width: 65px;
  height: 3px;
  background: #000000;
  /* margin: 10px auto 0; */
  border-radius: 50px;
  position: absolute;
  top: -1px;
}
.text p {
  font-family: raleway;
  margin: 0;
  text-align: center;
  color: black;
}
.before {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px !important;
}
.circulates {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 10px !important;
}
.upwind {
  font-size: 15px;
  font-weight: 500;
}
.text {
  margin-top: 24px;
}

// Button
.nextbtn_div {
  margin-top: 40px;
}
.nextbtn {
  background: linear-gradient(
    90deg,
    #b4880f 0%,
    #fce46d 40%,
    #fce46d 60%,
    #b4880f 100%
  );
  text-align: center;
  font-family: raleway;
  font-size: 18px;
  font-weight: bold;
  padding: 4px;
  border-radius: 5px;
  color: black;
}

// /Button
