<ion-header [translucent]="true">
  <ion-toolbar class="headertoolbar">
    <div class="header">
      <div class="crossdiv">
        <i class="fa-solid fa-xmark cross"></i>
      </div>
      <div class="addtext">
        <p>Add a Diffuser</p>
      </div>
      <div class="blank">
        <p></p>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="addfuser">
  <section class="addfuser_section">
    <div class="line"></div>
    <div class="text">
      <p class="before">Before You Begin</p>
      <p class="circulates">
        Your Aera diffuser creates scented air which circulates with the natural
        airflow of a room.
      </p>
      <p class="upwind">
        As you place your diffuser, consider the direction air moves in your
        room and keep your Aera 'upwind' of any open doors or windows.
      </p>
    </div>
    <div class="nextbtn_div">
      <p class="nextbtn" (click)="ondevice()">Next</p>
    </div>
  </section>
</ion-content>
<!-- <app-footer></app-footer> -->

