<ion-content [fullscreen]="true" class="ioncontentlogin">
  <section class="loginscreen container">
    <div class="destroy">
      <div class="logodivimage">
        <img
          class="icons-image"
          src="../../assets/mainimages/Tiara_black.png"
          alt="Pending"
        />
      </div>

      <div>
        <h2 class="Space">Signature Scents for Every Space</h2>
      </div>

      <div class="loginbtn">
        <ion-button expand="block" (click)="testClick()"
          >Guest Login</ion-button
        >
        <ion-button expand="block" [routerLink]="['/login']"
          >Sign in</ion-button
        >
        <ion-button expand="block" (click)="onProfile()"
          >Create an account</ion-button
        >
      </div>
    </div>
  </section>
  <!-- Popup Overlay -->
  <div class="popup-backdrop" *ngIf="showPopup">
    <div class="popup-box">
      <div class="inner-pop">
        <p class="popup-title">
          Allow “Tiara Scenting” to access your location?
        </p>
        <p class="sub-title">
          We will alert you to offers and deals for nearby locations.
        </p>
      </div>
      <div class="popup-actions">
        <div class="sepertr"></div>
        <p class="sky-title" (click)="getLocation('onlyWhileUsing')">
          Only While Using the App
        </p>
        <div class="sepertr"></div>
        <p class="sky-title" (click)="getLocation('always')">Always Allow</p>
        <div class="sepertr"></div>
        <p class="sky-title" (click)="denyLocation()">Don't Allow</p>
      </div>
    </div>
  </div>
</ion-content>
