.Space {
  font-size: 50px;
  font-weight: bold;
  line-height: 55px;
font-family: "raleway";
    color: black;
}

.ioncontentlogin {
  --background: #fdfbe4;
}

.logodivimage {
  text-align: center;
}

.loginbtn ion-button {
    font-family: raleway;
    color: black;
    font-size: 17px;
    font-weight: 500;
    margin-top: 15px;
    border-radius: 5px;
    --padding-top: 12px;
    --padding-bottom: 12px;
    --background: linear-gradient(90deg, #b4880f 0%, #fce46d 40%, #fce46d 60%, #b4880f 100%);
}

.destroy {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}
//header
ion-header.md.header-md.header-translucent.header-collapse-none.header-translucent-md.hydrated {
  box-shadow: 0px 0px 0px 0px !important;
}

.headertoolbar {
  --background: #ffffff;
}
.header p {
  margin-bottom: 0px;
  position: absolute;
  right: 10px;
  top: 6px;
  color: black;
}

.header {
  margin: 0px 20px 0px 20px;
  position: relative;
  text-align: center;
}
i.fa-solid.fa-angle-left {
  color: #ffffff;
  background: black;
  width: 24px;
  height: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  position: absolute;
  top: 5px;
}
.delete {
  padding: 20px;
  margin-top: 16px;
}
.name1 {
  text-align: center;
  font-size: 20px;
  font-family: railway;
  font-weight: bold;
  margin: 0;
}
.name2 {
  margin: 0;
  color: #9b9b9b;
  padding: 5px 22px 0px 25px;
  font-size: 12px;
}
.btn-back {
  background: white;
  text-align: center;
  font-size: 20px;
  border-radius: 4px;
  margin-top: 22px;
  padding: 10px;
}
.acc2 {
  color: black;
  background: none;
}
.acc1 {
  color: white;
  background: none;
}
.btn-delete {
  background: #000000;
  text-align: center;
  font-size: 20px;
  border-radius: 4px;
  margin-top: 36px;
  padding: 10px;
  border: 2px solid white;
}
.main-btns {
  margin-top: 100%;
}
.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-box {
  background-color: white;
  border-radius: 30px;
  text-align: center;
  width: 84%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  height: 48%;
}

.popup-title {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 6px;
  color: black;
}

.popup-actions {
  display: flex;
  justify-content: space-between;
  gap: 14px;
  margin-top: 18px;
  flex-direction: column;
}

.cancel-btn,
.delete-btn {
  flex: 1;
  padding: 10px 0;
  font-weight: 600;
  border: none;
  border-radius: 6px;
}

.cancel-btn {
  background-color: #7c7c7c;
  color: white;
  font-size: 18px;
}

.delete-btn {
  background-color: #000;
  color: #fff;
  font-size: 18px;
}

.blur-background {
  filter: blur(5px);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.sub-title {
  color: gray;
}
.sky-title {
  color: #3b9fdf;
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}
.sepertr {
  border: 1px solid #bdbdbd;
}
.inner-pop {
  padding: 24px 24px 0px 24px;
}
