<ion-header [translucent]="true">
  <ion-toolbar class="headertoolbar">
    <div class="header">
    <i class="fa-solid fa-angle-left"></i>
    <img class="icons-image" src="../../assets/mainimages/Tiara_black_logo.svg"alt="Pending"/>
    <p>Cancel</p>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="devicenameion">
  

    <section class="device_namecreen">
     <p class="devicename">Name your device so you can find it easily</p>

    <ion-button expand="block" class="align-right">
  <span class="button-text">Device address</span>
</ion-button>

    <ion-button expand="block" class="align-center">
  <span class="button-text">Save</span>
</ion-button>

    </section>

 
</ion-content>
