//header
ion-header.md.header-md.header-translucent.header-collapse-none.header-translucent-md.hydrated {
  box-shadow: 0px 0px 0px 0px !important;
}

.headertoolbar {
  --background: #FDFBE4;
}
.header p {
  margin-bottom: 0px;
  position: absolute;
  right: 10px;
  top: 6px;
  color: black;
}

.header {
  margin: 0px 20px 0px 20px;
  position: relative;
  text-align: center;
}
i.fa-solid.fa-angle-left {
  color: #ffffff;
  background: black;
  width: 24px;
  height: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  position: absolute;
  top: 5px;
}



section.delete {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}
.name1 {
    text-align: center;
    font-size: 20px;
    font-family: railway;
    font-weight: bold;
    color: black;
    margin: 0 auto;
}
ion-content.md.content-ltr.hydrated {
  position: relative;
  overflow: hidden;
  --background: #FDFBE4;
}
.name2 {
    margin: 0 auto;
    color: #9b9b9b;
    padding: 5px 22px 0px 25px;
    font-size: 14px;
    text-align: center;
    font-family: 'railway';
}
.btn-back {
  background: #F1C27D;
  text-align: center;
  font-size: 20px;
  border-radius: 4px;
  margin-top: 22px;
  padding: 8px;
}
.acc2 {
    color: black;
    background: none;
    font-family: 'railway';
    font-size: 20px;
    font-weight: 600;
}
.acc1 {
    color: black;
    background: none;
    font-family: 'railway';
    font-size: 20px;
    font-weight: 600;
}
.btn-delete {
background: none  ;
    text-align: center;
    font-size: 20px;
    border-radius: 4px;
    margin-top: 36px;
    padding: 8px;
border: 2px solid black;
}
// .main-btns {
//   margin-top: 100%;
// }
.popup-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #838383a8;
    display: flex
;
    justify-content: center;
    align-items: center;
  
    z-index: 999;
    background: blur;
    backdrop-filter: blur(2px);
}

.popup-box {
  background-color: #F1C27D;
  padding: 24px;
  border-radius: 8px;
  text-align: center;
  width: 84%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  height: 25%;
}

.popup-title {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 20px;
  color: black;
}

.popup-actions {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 32px;
}

.cancel-btn,
.delete-btn {
  flex: 1;
  padding: 10px 0;
  font-weight: 600;
  border: none;
  border-radius: 6px;
}

.cancel-btn {
  background-color: black;
  color: white;
  font-size: 18px;
}

.delete-btn {
  background-color: #FDFBE4;
  color: black;
  font-size: 18px;
}

.blur-background {
  filter: blur(5px);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
