//header
ion-header.md.header-md.header-translucent.header-collapse-none.header-translucent-md.hydrated {
    box-shadow: 0px 0px 0px 0px !important;
}

.headertoolbar{
--background: #ffffff;
}
.header p {
    margin-bottom: 0px;
        position: absolute;
    right: 10px;
    top: 6px;

}

.header{
    margin: 0px 20px 0px 20px;
    position: relative;
    text-align: center;
}
i.fa-solid.fa-angle-left {
color: #ffffff;
    background: black;
    width: 24px;
    height: 24px;
    text-align: center;
    display: flex
;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
        position: absolute;
    top: 5px;

}
ion-content.md.content-ltr.hydrated {
    --background: black;
}
//header
section.mode {
    padding: 20px;
}
.modediv {
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 6px 14px 6px 14px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.hours p {
    margin-bottom: 0px;
}
p.modetype {
    font-size: 17px;
    font-family: railway;
    font-weight: 600;
}
p.modetype {
    font-size: 17px;
    font-family: railway;
    font-weight: 600;
}
p.modestatus {
    font-size: 15px;
    font-family: 'railway';
}




//
.toggle-switch {
  width: 40px;
  height: 22px;
  background: #ccc;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s ease;
}
.toggle-switch.active .switch-handle {
  left: 20px;
}

.toggle-switch .switch-handle {
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.3s ease;
}


.toggle-switch.active {
  background: #df7e00;
}
.modehours {
    font-size: 15px;
}


.run {
    margin-bottom: 0px;
    font-size: 13px;
    font-family: 'railway';
    font-weight: 500;
}

.runsec {
    margin-bottom: 0px;
    border: 1px solid;
    /* width: 104%; */
    font-size: 16px;
    font-family: railwayy;
    font-weight: 600;
    padding: 0px 16px 0px 16px;
}

.stop {
   margin-bottom: 0px;
    font-size: 13px;
    font-family: 'railway';
    font-weight: 500;
}

.stopsec {
      margin-bottom: 0px;
    border: 1px solid;
    /* width: 104%; */
    font-size: 16px;
    font-family: railwayy;
    font-weight: 600;
    padding: 0px 16px 0px 16px;
}


.toggle {
    position: absolute;
    right: 14px;
    top: 40px;
}

.runstop {
    border: 2px solid;
    padding: 0px 16px 5px 16px;
    border-radius: 10px;
    text-align: center;
}

.hours{
    position: absolute;
    left: 14px;
}



// 



// 
.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #111;
  color: white;
  width: 90%;
  max-width: 400px;
  padding: 10px;
  border-radius: 12px;
//   position: relative;
  font-family: sans-serif;
  margin-top: 10%;
  z-index: 99999999;
  position: absolute;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  font-size: 22px;
  color: white;
  cursor: pointer;
}

.save-btn {
  background: none;
  border: none;
  font-size: 20px;
  color: greenyellow;
  cursor: pointer;
}



.time-setting,
.frequency-setting {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="time"],
input[type="number"] {
  background: #222;
  color: white;
  border: 1px solid #444;
  padding: 6px 10px;
  border-radius: 5px;
}
.editmodetext {
    margin-bottom: 0p;
    margin-bottom: 0px;
    font-size: 14px;
    font-family: 'railway';
    font-weight: bold;
}


.weekdays {
    display: flex
;
    justify-content: space-between;
    align-items: center;
}
.aa {
    // background: #ffffff;
    // font-size: 10px;
    // border: 1px solid;
    // border-radius: 50px;
    // width: 38px;
    // height: 38px;
    // justify-content: center;
    // align-items: center;
    // text-align: center;
    // margin-right: 6px;
    background: #df7e00;
    font-size: 10px;
    border: 1px solid #df7e00;
    border-radius: 50px;
    width: 34px;
    height: 34px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 6px;
    color: white;
    opacity: 0.5;
}


.tags p {
    margin-bottom: 0px;
    padding-left: 10px;
    font-size: 14px;
    font-family: "railway";
    color: black;
    font-weight: 600;
}

.tags {
    display: flex;
    margin-bottom: 14px;
    justify-content: center;
}




////////
/// 
///
/// 
/// 

.aa.active {
    background: #df7e00;
    color: #ffffff;
    opacity: 1;
}

// test
.picker {
position: relative;
    width: 160px;
    overflow: hidden;
    padding: 0px 0px;
}

.swiper-container {
    width: 50px;
    height: 100px;
    float: left;
    position: relative;
}

.swiper-slide {
text-align: center;
    font-size: 24px;
    display: flex
;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
    opacity: 0.25;
    transition: opacity 0.3s ease;
    font-weight: bold;
    font-family: "railway";
    color: #df7e00;
}

.swiper-slide-active {
  opacity: 1;
  color: #df7e00;
}

.vizor {

    position: absolute;
    top: 50%;
    transform: translateY(-44%);
   
    pointer-events: none;

}
.vizor2 {
   position: absolute;
    top: 50%;
    transform: translateY(-44%);
   
    pointer-events: none;
}
// .vizor3 {
// border-top: 1px solid #ccc;
//     border-bottom: 1px solid #ccc;
//     height: 40px;
//     position: absolute;
//     top: 87%;
//     left: 36px;
//     transform: translateY(-46%);
//     background: white;
//     pointer-events: none;
//     border-radius: 5px;
//     width: 140px;
// }
// .vizor4 {
    // border-top: 1px solid #ccc;
    // border-bottom: 1px solid #ccc;
    // height: 40px;
    // position: absolute;
    // top: 87%;
    // right: 36px;
    // transform: translateY(-46%);
    // background: white;
    // pointer-events: none;
    // border-radius: 5px;
    // width: 140px;
// }
.parat {
    display: flex
;
    justify-content: space-around;
    align-items: center;
    margin-top: 6px;
}
.forgreq {
    // display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    padding: 6px 0px 6px 0px;
    border-radius: 20px;
}
// .fortimetwo {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
.fortimetwo{
    // display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    padding: 6px 0px 6px 0px;
    border-radius: 20px;
}

.forhourborder{
    border: 8px solid black;
    border-radius: 50%;
    height: 132px;
    padding: 8px 10px 8px 10px;
    display: flex;
    align-items: center;
    
}

.forsecondborder{
    border: 8px solid black;
    border-radius: 50%;
    height: 132px;
    width: 132px;
    padding: 8px 10px 8px 10px; 
}

.stop-seconds {
    float: none !important;
    width: 68px!important;
}
.run-seconds {
    float: none !important;
    width: 68px!important;
}


.parat p

 {
    color: #ffffff;
    margin: 0;
    font-family: "railway";
    font-weight: 600;
    background: black;
    width: 80px;
    text-align: center;
    border-radius: 5px;
}

.twodiv {
    display: flex;
    justify-content: space-evenly;
}

.divforsec {
    display: flex
;
    justify-content: space-evenly;
}



.forwhite {
    background: white;
    border-radius: 20px;
    padding: 10px 0px 10px 6px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.forwhitesecond{
        background: white;
    border-radius: 20px;
    margin-bottom: 20px;
}
.settingss {
    margin-bottom: 4px !important;
    margin-top: 10px!important;
}



.colun {
    color: black;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    /* border-radius: 50px; */
    color: #df7e00;
    border-radius: 50px;
}