<ion-content [fullscreen]="true" class="registerion">

<section class="resgisterscreen">
    <div class="header">
    <i class="fa-solid fa-angle-left"></i>
    </div>

    <div class="registerheadings">
      <p class="registerpone">Set a Password</p>
      <p class="registerptwo">The password consists of 6 to 20 letters, digits, or special characters</p>
    </div>



          <div class="inputfields">


<div class="input-group">
  <div class="fieldone">
  <i class="fas fa-shield-alt icon"></i>
  <input
    [type]="passwordVisible ? 'text' : 'password'"
    placeholder="********"
    [(ngModel)]="password"
  />
  <i
    class="fas toggle-eye"
    [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'"
    (click)="togglePasswordVisibility()"
  ></i>
</div>

<div class="fieldtwo">
  <i class="fas fa-shield-alt icon"></i>
  <input
    [type]="confirmPasswordVisible ? 'text' : 'password'"
    placeholder="Re-enter password"
    [(ngModel)]="confirmPassword"
  />
  <i
    class="fas toggle-eye"
    [ngClass]="confirmPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"
    (click)="toggleConfirmPasswordVisibility()"
  ></i>
</div>




</div>

       </div>
<div class="nextbtn">
    <ion-button expand="block" class="align-center" (click)="onOkClick()">
  <span class="button-text">Ok</span>
</ion-button>
</div>
</section>

</ion-content>
