.resgisterscreen {
  background-image: url('/assets/mainimages/resgister_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%; /* optional, helps if nothing is visible */
  padding: 20px;
}

// .header {
//     margin: 0px 20px 0px 20px;
// }
i.fa-solid.fa-angle-left {
    color: #000000;
    background: white;
    width: 24px;
    height: 24px;
    text-align: center;
    display: flex
;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

p.registerpone {
    color: white;
    font-size: 40px;
    font-family: railway;
    /* font-weight: 600; */
    margin-bottom: 0px;
}
p.registerptwo {
    color: white;
    font-size: 18px;
    font-family: 'railway';
    margin-bottom: 0px;
}
.registerheadings {
    text-align: center;
    /* position: absolute; */
}


// 
.inputfields {
    margin-top: 50px;
}
.input-group {
  position: relative;
  margin: 15px 0;
  width: 100%;
}

.input-group input {
  width: 100%;
  padding: 10px 20px 10px 50px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  font-size: 17px;
  outline: none;
  border-radius: 5px !important;
  font-family: 'railway';
  justify-content: center;
  align-items: center;
  display: flex;
}

.input-group .icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  font-size: 18px;
}

.input-group .toggle-eye {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  font-size: 18px;
  cursor: pointer;
}
// .inputfields {
//     padding: 0px 20px 0px 20px;
// }
// 

ion-button.align-center {
  --background: #ffffff;

  --padding-top: 12px;
  --padding-bottom: 12px;
  margin-bottom: 14px;
}
ion-button.align-center .button-text {
    width: 100%;
    text-align: center;
    font-family: railway;
    font-size: 16px;
    /* font-weight: bold; */
    color: black;
    text-transform: none;
        font-weight: 600;
}

.nextbtn {
    bottom: 0;
    position: absolute;
}


.fieldone {
    width: 100%;
}
.fieldtwo {
    width: 100%;
}