.resgisterscreen {
  height: 100%;
  padding: 20px;
  background: #fdfbe4;
}

// .header {
//     margin: 0px 20px 0px 20px;
// }
i.fa-solid.fa-angle-left {
  color: white;
  background: #000000;
  width: 24px;
  height: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

p.registerpone {
  color: #000000;
  font-size: 35px;
  font-family: raleway;
  margin-bottom: 0px;
}
p.registerptwo {
  color: #000000;
  font-size: 20px;
  font-family: raleway;
  margin-bottom: 0px;
}
.registerheadings {
  text-align: center;
  /* position: absolute; */
}

//
.inputfields {
  margin-top: 18px;
}
.input-group {
  position: relative;
  margin: 15px 0;
  width: 100%;
}

.input-group input {
  width: 100%;
  padding: 10px 20px 10px 50px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  border-radius: 5px !important;
  font-family: raleway;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #ffffff00;
}

.input-group .icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  font-size: 18px;
}

.input-group .toggle-eye {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  font-size: 18px;
  cursor: pointer;
}
// .inputfields {
//     padding: 0px 20px 0px 20px;
// }
//

// ion-button.align-center {
//  --background: linear-gradient(90deg, #b4880f 0%, #fce46d 40%, #fce46d 60%, #b4880f 100%);

//   --padding-top: 12px;
//   --padding-bottom: 12px;
//   margin-bottom: 14px;
// }
// ion-button.align-center .button-text {
//   width: 100%;
//   text-align: center;
//   font-family: railway;
//   font-size: 16px;
//   /* font-weight: bold; */
//   color: black;
//   text-transform: none;
//   font-weight: 600;
// }

.nextbtn {
bottom: 30px;
    position: absolute;
    width: 88%;
}
.logodivimage {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.loginbtn p {
  color: #000000;
  font-size: 13px;
  font-family: "railway";
  margin-bottom: 0px;
  margin-top: 20px;
}

.loginbtn ion-button {
  --background: linear-gradient(
    90deg,
    #b4880f 0%,
    #fce46d 40%,
    #fce46d 60%,
    #b4880f 100%
  );
  font-family: "raleway";
  color: black;
  font-size: 20px;
  font-weight: bold;
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 12px;
  --padding-bottom: 12px;
}
