//header
ion-header.md.header-md.header-translucent.header-collapse-none.header-translucent-md.hydrated {
  box-shadow: 0px 0px 0px 0px !important;
}

.headertoolbar {
  --background: #fdfbe4;
  padding-top: 34px;
}
.header p {
  margin-bottom: 0px;
  position: absolute;
  right: 10px;
  top: 6px;
}

.header {
  margin: 0px 20px 0px 20px;
  position: relative;
  text-align: center;
}
.back{
    color: #000000;
    background: #F1C27D;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: absolute;
    top: 4px;
}
ion-content.md.content-ltr.hydrated {
  --background: black;
}
//header

.profileion {
  --background: #fdfbe4 !important;
}
.schedule_name {
  padding: 14px 28px 0px 28px;
  /* border-bottom: 2px solid; */
}

.schedule_name p {
  font-size: 22px;
  font-family: raleway;
  font-weight: 500;
}

.select_day {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select_day p {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  font-family: raleway;
}

.weekdays {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
    margin-bottom: 20px;
}
.aa {
  background: #df7e0000;
  font-size: 10px;
  border-radius: 50px;
  width: 34px;
  height: 34px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 6px;
  color: black;
}
.setting {
  background: #f1c27d;
  margin: 14px;
  border-radius: 10px;
  padding: 14px;
}
.aa.active {
  // background: #df7e00;
  color: black;
  border: 1px solid black;
}
.select_time {
  position: relative;
  margin-top: 18px;
}
.select_time p {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  font-family: raleway;
}
.select_time::after {
  content: "";
  border-bottom: 1px solid black;
  width: 100%;
  position: absolute;
  /* margin-top: 6px; */
}

.time-content {
  --background: #eec183; // same color as screenshot
  font-family: serif;
}

.time-row {
    display: flex
;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 0px 0px;
}

.label {
  font-size: 16px;
  font-weight: 600;
  font-family: raleway;
}

.counter {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 20px;
  font-weight: bold;
}

.btn {
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 5px;
  line-height: 1;
}

.value {
  width: 90px;
  text-align: center;
}
span.value {
    font-size: 18px;
}
.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 24px;
}
.buttons p {
  margin: 0px;
  font-size: 24px;
  font-family: raleway;
  font-weight: 600;
}

// .toggle{
//     position: absolute;
//     right: 14px;
//     top: 40px;
// }

.toggle-switch {
  width: 40px;
  height: 22px;
  background: #f1c27d;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s ease;
}

.toggle-switch.active .switch-handle {
  left: 20px;
  background: #f1c27d;
}
.toggle-switch.active {
  background: #fdfbe4;
}
.toggle-switch .switch-handle {
  width: 18px;
  height: 18px;
  background: #fdfbe4;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.3s ease;
}

// settingmode
.inner-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 14px 10px 0px 10px;
  padding: 13px;
  border-radius: 20px;
  transition: background 0.3s ease-in-out;
}

/* When toggle is ON */
.active-mode {
  background: linear-gradient(90deg, #b4880f 0%, #fce46d 50%, #b4880f 100%);
  color: #000;
}

/* When toggle is OFF */
.inactive-mode {
  background: #f7dfb1; /* deep red */
  color: black;
}

.time p {
  margin: 0;
  font-size: 45px;
  font-family: regular;
}
.days_toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.days {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 14px;
  gap: 4px;
}
.days p {
  margin: 0;
  width: 12px;
      position: relative;
}
span.min {
  font-size: 20px;
  padding-left: 4px;
}
.days p.active::before{

       content: "";
    border: 2px solid;
    position: absolute;
    border-radius: 50px;
    right: 4px;
    /* left: 0; */
    top: -4px;
}


.weekdays button {
    background: transparent;
    font-size: 14px;
}
.weekdays button.active {
    border: 1px solid;
    border-radius: 50px;
    height: 36px;
    width: 36px;
    display: flex
;
    align-items: center;
    justify-content: center;
    line-height: 36px;
}

h2.newschedule {
    font-family: 'railway';
    margin: 20px 20px 0px 20px;
    font-weight: 500;
}
.addnewschedule {
    display: flex
;
    justify-content: space-between;
    margin: 20px 20px 0px 20px;
    align-items: center;
}
.addnewschedule p {
    font-size: 18px;
    font-weight: 600;
    font-family: 'railway';
    margin: 0;
}
i.fa-solid.fa-plus.add_btn {
    font-size: 20px;
}
h2.newschedule::after {
    content: "";
    border-bottom: 1px solid black;
    width: 100%;
    /* height: 8px; */
    position: absolute;
    left: 0;
    top: 38px;
}